@media screen and (min-width:801px)
{
    header  {   
        font-family: Arial, sans-serif;
        background-color : #f9f7b3;
        text-align: center;
        font-size: 30px;
        color: coral;
        text-shadow: 5px 5px 3px white;
        margin : 5px 0px 0px 0px;
        padding-top : 10px;
        padding-bottom : 10px;
    }
    .headercontent{
        padding-top : 5px;
        font-size: 15px;
        color:black;
        text-shadow: none;
    }
    hr{
        border-color : coral;
        margin : 0px;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    .catemenu{
        background-color : coral;
        color : white;
        text-align : center;
        margin : 0px;
        font-size : 15px;
        padding : 5px;
    }
    .catelist{
        display : inline-block;
        padding : 5px;
        font-size : 15px;
        font-weight : bold;
        margin : 0px;
        padding-left : 30px;
        padding-right : 30px;
        font-family : Arial, Helvetica, sans-serif;
    }
    a.none{
        color : orangered;
        text-decoration : none;
    }
    .secbackcolor{
        background-color : #f9f7b3;
        margin : 0px;
        padding-bottom : 2px;
        text-align: center;
    }
    .mainmenuti{
        text-align : center;
        background-color : coral;
        margin : 0px;
        padding : 5px;
        color : white;
        margin-bottom : 20px;
        text-shadow : 2px -2px 2px yellow;
    }
    .articlebox {
        display: inline-block;
        margin: 30px;
        padding-top: 0px;
        padding-left : 0px;
        border: 2px solid red;
        width:320px;
        height:310px;
        position: relative;
        background-color : coral;
        color : yellow;
        font-weight : bold;
    }
    .secalign{
        text-align : center;
    }
    img.wh{
        width : 320px;
        height : 250px;
        margin-bottom : 5px;
    }
    a.goodsname{
        background-color : coral;
        color : white;
        text-decoration: none;
    }
}

@media screen and (min-width:481px) and (max-width:800px)
{
    header  {   
        font-family: Arial, sans-serif;
        background-color : #f9f7b3;
        text-align: center;
        font-size: 25px;
        color: coral;
        text-shadow: 5px 5px 3px white;
        margin : 5px 0px 0px 0px;
        padding-top : 7px;
        padding-bottom : 7px;
    }
    .headercontent{
        padding-top : 5px;
        font-size: 12px;
        color:black;
        text-shadow: none;
    }
    hr{
        border-color : coral;
        margin : 0px;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    .catemenu{
        background-color : coral;
        color : white;
        text-align : center;
        margin : 0px;
        font-size : 15px;
        padding : 5px;
    }
    .catelist{
        display : inline-block;
        padding : 3px;
        font-size : 15px;
        font-weight : bold;
        margin : 0px;
        padding-left : 30px;
        padding-right : 40px;
        font-family : Arial, Helvetica, sans-serif;
    }
    a.none{
        color : orangered;
        text-decoration : none;
    }
    .secbackcolor{
        background-color : #f9f7b3;
        margin : 0px;
        text-align: center;
    }
    .mainmenuti{
        text-align : center;
        background-color : coral;
        margin : 0px;
        padding : 5px;
        color : white;
        margin-bottom : 10px;
        text-shadow : 2px -2px 2px yellow;
        font-size: 15px;
    }
    .articlebox {
        display: inline-block;
        margin: 15px;
        padding-top: 0px;
        padding-left : 0px;
        border: 1.5px solid red;
        width:280px;
        height:280px;
        position: relative;
        background-color : coral;
        color : yellow;
        font-weight : bold;
    }
    .secalign{
        text-align : center;
    }
    img.wh{
        width : 280px;
        height : 220px;
        margin-bottom : 5px;
    }
    a.goodsname{
        background-color : coral;
        color : white;
        text-decoration: none;
    }
}

@media screen and (max-width:480px)
{
    header  {   
        font-family: Arial, sans-serif;
        background-color : #f9f7b3;
        text-align: center;
        font-size: 20px;
        color: coral;
        text-shadow: 5px 5px 3px white;
        margin : 5px 0px 0px 0px;
        padding-top : 3px;
        padding-bottom : 3px;
    }
    .headercontent{
        padding-top : 5px;
        font-size: 12px;
        color:black;
        text-shadow: none;
    }
    hr{
        border-color : coral;
        margin : 0px;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    .catemenu{
        background-color : coral;
        color : white;
        text-align : center;
        margin : 0px;
        font-size : 15px;
        padding : 5px;
    }
    .catelist{
        display : inline-block;
        padding : 3px;
        font-size : 15px;
        font-weight : bold;
        margin : 0px;
        padding-left : 15px;
        padding-right : 15px;
        font-family : Arial, Helvetica, sans-serif;
    }
    a.none{
        color : orangered;
        text-decoration : none;
    }
    .secbackcolor{
        background-color : #f9f7b3;
        margin : 0px;
        padding-bottom : 2px;
        text-align: center;
    }
    .mainmenuti{
        text-align : center;
        background-color : coral;
        margin : 0px;
        padding : 5px;
        color : white;
        margin-bottom : 10px;
        text-shadow : 2px -2px 2px yellow;
        font-size: 15px;
    }
    .articlebox {
        display: inline-block;
        margin: 8px;
        padding-top: 0px;
        padding-left : 0px;
        border: 1.5px solid red;
        width:200px;
        height:200px;
        position: relative;
        background-color : coral;
        color : yellow;
        font-weight : bold;
        font-size : 12px;
    }
    .secalign{
        text-align : center;
    }
    img.wh{
        width : 200px;
        height : 150px;
        margin-bottom : 5px;
    }
    a.goodsname{
        background-color : coral;
        color : white;
        text-decoration: none;
    }
}

@media print
{
    header, footer {
        display: none;
    }
    hr{
        border-color : coral;
        margin : 0px;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    .catemenu{
        background-color : coral;
        color : white;
        text-align : center;
        margin : 0px;
        font-size : 15px;
        padding : 5px;
    }
    .catelist{
        display : inline-block;
        padding : 5px;
        font-size : 15px;
        font-weight : bold;
        margin : 0px;
        padding-left : 30px;
        padding-right : 30px;
        font-family : Arial, Helvetica, sans-serif;
    }
    a.none{
        color : orangered;
        text-decoration : none;
    }
    .secbackcolor{
        background-color : #f9f7b3;
        margin : 0px;
        padding-bottom : 2px;
        text-align: center;
    }
    .mainmenuti{
        text-align : center;
        background-color : coral;
        margin : 0px;
        padding : 5px;
        color : white;
        margin-bottom : 20px;
        text-shadow : 2px -2px 2px yellow;
    }
    .articlebox {
        display: inline-block;
        margin: 30px;
        padding-top: 0px;
        padding-left : 0px;
        border: 2px solid red;
        width:280px;
        height:310px;
        position: relative;
        background-color : coral;
        color : yellow;
        font-weight : bold;
        font-size : 15px;
    }
    .secalign{
        text-align : center;
    }
    img.wh{
        width : 280px;
        height : 250px;
        margin-bottom : 5px;
    }
    a.goodsname{
        background-color : coral;
        color : white;
        text-decoration: none;
    }
}